/* src/components/PasswordStrengthMeter.css */
.progress-container {
    width: 100px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    float: left;
  }
  
  .progress-bar {
    height: 10px;
    width: 0;
    transition: width 0.3s ease;
  }
  
  .strength-label {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .createNewAcForm form label{
    float: left;
    width: 100%;
  }

  .passwordStatus
  {
    width: 100px;
    margin-left: 8px;
    float: left;
  }